#tournament-diagram {
  .diagram-column {
    &.column-1 {
      padding-top: 6rem;
    }
  }
  .diagram-game {
    margin: 4rem -0px;
    width: 70%;
    background-color: #222;
    p {
      margin: 0;
      padding: 0 5%;
      height: 4rem;
      line-height: 4rem;
      color: #fff;
      &:first-child {
        border-bottom: 1px solid #666;
      }
    }
  }
}